<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Asset Management</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src='main.js'></script>
</head>

<body>

	<div th:replace="fragments/header :: header">

	</div>



	<div class="container mt-5">
		<h3>All User details </h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Department</th>
					<th>Roles</th>
					<th>Is active</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.uid}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.fname}"></td>
					<td th:text="${user.lname}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.department}"></td>
					<td><span th:each="role,iterStat : ${user.roles}"
							th:text="${role.roleName} + ${!iterStat.last ? ', ' : ''}"></span></td>
					<td th:text="${user.isActive}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container mt-5">
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>

</html>